.Bigcontainer {
    display: flex;
    flex-direction: row;
  
    padding-top: 15px;
  
  }
  
  .Bigcontainerright {
    display: flex;
    flex-direction: row;
  
    padding-top: 15px;
  
    justify-content: flex-end;
  
  }
  .Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    min-height: 50px;
    min-width: 60px;
    height: fit-content;
    max-width: 300px;
    width: fit-content;
    word-break: break-all;
    overflow: hidden;
  
  
    position: relative;
  
    padding-left: 20px;
    margin-top: -5px;
    border-radius: 20px;
  
    background-color: rgba(51, 46, 46, 0.8);
  }
  
  .Textmessage {
    font-family: "Roboto";
    font-weight: 200;
    margin-bottom: 0px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
    padding-right: 20px;
  }
  
  .Textname {
    font-size: 12px;
    top: -8px;
    left: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    
  
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .Textnameyou {
    font-size: 12px;
    top: -8px;
    right: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    
  
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
  }
  
  